@page
@model CLDV6211_POE.Pages.Inspectors.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Inspector</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Inspector.InspectorNo" />
            <div class="form-group">
                <label asp-for="Inspector.InspectorName" class="control-label"></label>
                <input asp-for="Inspector.InspectorName" class="form-control" />
                <span asp-validation-for="Inspector.InspectorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inspector.InspectorEmail" class="control-label"></label>
                <input asp-for="Inspector.InspectorEmail" class="form-control" />
                <span asp-validation-for="Inspector.InspectorEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inspector.InspectorMobile" class="control-label"></label>
                <input asp-for="Inspector.InspectorMobile" class="form-control" />
                <span asp-validation-for="Inspector.InspectorMobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
